<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9 p-2">
            <p class="h3">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus eveniet consectetur beatae voluptas
                quam
                perspiciatis maxime a quisquam laborum, error quo tempora dolorem veritatis porro corrupti suscipit,
                culpa
                voluptates nihil?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit placeat aut saepe eveniet, rem rerum
                officia ab
                porro
                iste, laboriosam sunt! Ex, nobis dicta? Quod earum ad quibusdam magni asperiores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odit, libero dignissimos rerum voluptas ex
                repellendus
                facilis est, recusandae minus reiciendis magni nam sint numquam labore. Nostrum sed id nemo?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat veritatis dicta similique minima vel qui
                nostrum
                saepe quo debitis. Dignissimos dolore voluptatibus quo in ea error praesentium voluptates eaque commodi?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad doloremque perferendis in voluptas
                praesentium
                libero
                voluptatem voluptates voluptatum eius minima vel pariatur, beatae, a deleniti accusamus placeat autem
                exercitationem
                minus!
            </p>
        </div>
    </div>
</div>

<app-footer></app-footer>