<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3 p-0">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-9 p-2">
            <form [formGroup]="testForm" class="form-group w-75 mx-auto mt-4">
                <h2 class="text-center">{{'TestApi' | translate}}</h2>
                <label for="name">{{'Name' | translate}}:</label>
                <input type="text" name="name" id="name" class="form-control" formControlName="userName">
                <small *ngIf="testForm.controls['userName'].dirty && testForm.hasError('required','userName')"
                    class="text-danger d-block">
                    name is required
                </small>
                <label for="email">{{'Email' | translate}}:</label>
                <input type="text" name="email" id="email" class="form-control" formControlName="userEmail">
                <small *ngIf="testForm.controls['userEmail'].dirty && testForm.hasError('required','userEmail')"
                    class="text-danger d-block">
                    name is required
                </small>
                <button (click)="sumbiteForm()" class="btn btn-primary mt-2 mx-auto d-block w-25">{{'Test' |
                    translate}}</button>
            </form>
            <br><br><br>
            <br><br><br>
            <br>
            <app-spinner></app-spinner>
        </div>
    </div>
</div>
<app-footer></app-footer>