<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 100%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0  text-white text-decoration-none">
        <div class="fs-4 w-100">
            <p class="text-center mx-auto">
                {{'Galaxy' | translate}}
            </p>
        </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item text-left fs-5 m-1">
            <a href="#" class="nav-link link-light bg-warning" aria-current="page">
                {{'Home' | translate}}
            </a>
        </li>
        <li class="nav-item text-left fs-5 m-1">
            <a href="#" class="nav-link text-light">
                {{'Dashboard' | translate}}
            </a>
        </li>
        <li class="nav-item text-left fs-5 m-1">
            <a href="#" class="nav-link text-light">
                {{'Orders' | translate}}
            </a>
        </li>
        <li class="nav-item text-left fs-5 m-1">
            <a href="#" class="nav-link text-light">
                {{'Customers' | translate}}
            </a>
        </li>
    </ul>
    <!-- <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>UserName</strong>
        </a>
    </div> -->
</div>