<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-black" style="height: 100%">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0  text-white text-decoration-none">
        <div class="fs-4 w-100">
            <p class="text-center mx-auto">
                {{'Galaxy' | translate}}
            </p>
        </div>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#home"></use>
                </svg>
                <i class="fa-solid fa-house" style="color: #ffffff;"></i> {{'Home' | translate}}
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                {{'Dashboard' | translate}}
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#table"></use>
                </svg>
                {{'Orders' | translate}}
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16">
                    <use xlink:href="#people-circle"></use>
                </svg>
                {{'Customers' | translate}}
            </a>
        </li>
    </ul>
    <!-- <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>UserName</strong>
        </a>
    </div> -->
</div>