.ArabicDirection {
  direction: rtl;
}

.Headers:hover {
  color: #ebb30a !important;
  font-weight: bold;
}
.user {
  margin-left: 1em;
  margin-right: 1em;
}
i {
  color: black !important;
  justify-content: space-between;
}
nav {
  padding: 0;
}
.navbar .logo {
  padding: 0 20px;
}
.Header {
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.418);
}
.langBtn {
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
