<div class="Header z-3" [class.ArabicDirection]="isArabic">
    <nav class="navbar navbar-expand-lg navbar-light bg-black m-0">
        <div class="container-fluid">
            <a class="navbar-brand h2 text-light logo" routerLink="/">Galaxy Clinic</a>
            <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item m-1">
                        <a class="nav-link text-light Headers" routerLink="/">{{'Home' | translate}}</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link text-light Headers" routerLink="/"
                            routerLinkActive="router-link-active">{{'Reservations' | translate}}</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link text-light Headers" routerLink="/">{{'Doctors' | translate}}</a>
                    </li>
                    <li class="nav-item m-1">
                        <a class="nav-link text-light Headers" routerLink="/">{{'ContactUs' | translate}}</a>
                    </li>
                    <li class="nav-item dropdown m-1">
                        <a class="nav-link dropdown-toggle LanguageBtnAncor  text-light" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{'Lang' | translate}}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="p-1">
                                <a (click)="transelateEnglish()" class="langBtn">English</a>
                            </li>
                            <li class="p-1">
                                <a (click)="transelateArabic()" class="langBtn">العربية</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item p-1" *ngIf="">
                        <a routerLink="/login"><i class="fa-solid fa-xl fa-user user"></i></a>
                    </li>
                    <li class="nav-item p-1 mt-1 text-light" *ngIf="userName">
                        <span class="text-light p-4 h6">{{'Hello' | translate}}: {{userName}}</span>
                        <a><i class="fa-solid fa-xl fa-right-from-bracket"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>