<footer class="py-1 bg-black text-light m-0 container-fluid">
    <div class="row">
        <div class="col-6 col-md-4 p-3 col-sm-6">
            <h5>Contact Us</h5>
            <ul class="nav flex-column">
                <li class="nav-item "><a href="mailto:Galaxy@gmail.com"
                        class="nav-link p-0 text-light text-decoration-underline Footer">Galaxy@gmail.com</a></li>
                <li class="nav-item mb-2"><a href="tel:+201555424873"
                        class="nav-link p-0 text-light text-decoration-underline Footer">+20(1011583454)</a></li>
                <li class="nav-item text-light p-o">13 Makram, Nasr-City</li>
                <li class="nav-item mb-2 text-light">Sun- Sat: 11 am - 12 am (GMT+2)</li>
                <li class="nav-item mb-2 text-light mt-1">VAT registration number: 540 - 407 - 968</li>
            </ul>
        </div>

        <div class="col-6 col-md-4 p-3 col-sm-6">
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a routerLink="/home" class="nav-link p-0 text-light Footers">Home</a>
                </li>
                <li class="nav-item mb-2">
                    <a routerLink="/home" class="nav-link p-0 text-light Footers">Reservations</a>
                </li>
                <li class="nav-item mb-2">
                    <a routerLink="/AboutUs" class="nav-link p-0 text-light Footers">Doctors</a>
                </li>
                <li class="nav-item mb-2">
                    <a routerLink="/contactUs" class="nav-link p-0 text-light Footers">Contact Us</a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 p-3 col-sm-12 justify-content-between">
            <h5>Patient Caring System</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2 text-light p-0">Find out one of the best clinics</li>
                <li class="nav-item mb-2 text-light p-0">reserve now online with us</li>
                <li class="nav-item mb-2 text-light p-0">through your Account.</li>
                <li class="nav-item mb-2"><a routerLink=""
                        class="nav-link p-0 text-light text-decoration-underline Footers">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row border-top mb-0">
        <div class="col-12 pt-4 justify-content-center text-center">
            <p>© 2023 Galaxy, All rights reserved.</p>
        </div>
    </div>
</footer>