<div class="container-fluid p-5">
    <div class="row mt-5 justify-content-center align-items-center border border-1 p-2 rounded-3 mainRow">
        <h1 class="text-center">Reset Password Form:</h1>
        <div class="col-md-6 col-sm-12  align-self-center">
            <div class="">
                <img src="../../../../../assets/4855148.jpg" alt="" class="img w-100 rounded-3">
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class=" rounded-2">
                <div class="">
                    <div>
                        <form class="form justify-content-center" [formGroup]="resetForm">
                            <div class="form-group">
                                <label for="userPassword" class="h6">Password :</label>
                                <input id="userPassword" name="userPassword" type="password"
                                    class="form-control rounded-2" formControlName="userPassword"
                                    [class.is-invalid]="resetForm.controls['userPassword'].dirty && resetForm.hasError('required','userPassword')" />
                            </div>
                            <small
                                *ngIf="resetForm.controls['userPassword'].dirty && resetForm.hasError('required','userPassword')"
                                class="text-danger">*Password is Required!</small>
                            <small
                                *ngIf="resetForm.controls['userPassword'].dirty&& resetForm.hasError('pattern','userPassword')"
                                class="text-danger">*Password should be first character is uppercase and at least 11
                                chars</small>
                            <div class="form-group">
                                <label for="confirmPassword" class="mt-3 h6">Confirm Password :</label>
                                <input id="confirmPassword" type="password" name="confirmPassword"
                                    class="form-control rounded-2" formControlName="confirmPassword"
                                    [class.is-invalid]="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required','confirmPassword')" />
                            </div>
                            <small
                                *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required','confirmPassword')"
                                class="text-danger">*Confirm Password is Required!</small>
                            <small class="text-danger" *ngIf="resetForm.errors?.['misMatch']">
                                Password doesn't match
                            </small>
                            <button [disabled]="!resetForm.valid" (click)="resetPassword()" type="submit"
                                class="btn btn-dark w-100 mt-4">
                                Reset Password
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-spinner></app-spinner> -->

</div>